{% extends "base.html" %}
{% block main %}
<h1>Welcome to the sci-fi character tracker thing!</h1>
<h2>Your caracters</h2>

{% for char in characters %}
<div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div class="container">
            <h5 class="card-title">||  {{ char.char_name }}  ||</h5>
            <!-- <p class="card-text"></p> -->
        </div>
        <a class="btn btn-primary" role="button" href="/character/{{ char.char_id }}">Details</a>
    </div>
</div>
{% endfor %}

<br>
<a href="/create-character" class="btn btn-primary" role="button">Create a Character</a>


{% endblock %}
