{% extends "base.html" %}
{% block main %}
<h1 style="text-align: center;">Desher Synergystics Conglomerate</h1>
<hr>

<h2>Create a character</h2>
<br>
<form action="/create-character" method="POST" class="container-fluid d-flex gap-5 flex-wrap justify-content-center">
    <div class="big-box">
        <h4>Name:</h4>
        <br>
        <input type="text" name="name" style="width: 33rem;">
    </div>

    <div class="big-box">
        <h4>Description:</h4>
        <textarea name="description" maxlength="2000" style="width: 33rem;"></textarea>
    </div>

    <div class="big-box">
        <h4>Biography:</h4>
        <textarea name="bio" maxlength="2000" style="width: 33rem;"></textarea>
    </div>

    <div class="big-box">
        <h4>Background:</h4>
        <br>
        <select class="form-select" aria-label="Select Background" name="background">
            {% for back in backgrounds: %}
            <option value="{{ back.background_id }}">{{ back.background_name }}</option>
            {% endfor %}
        </select>
    </div>

    <p><input type="submit" class="btn btn-primary"></p>
</form>

{% endblock %}