{% extends "base.html" %}
{% block main %}
<h1>Welcome to the sci-fi character tracker thing!</h1>
Your caracters
<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for char in characters %}
        <tr>
            <td>{{ char.char_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/create-character" class="btn btn-primary" role="button">Primary link</a>


{% endblock %}