{% extends "base.html" %}
{% block main %}
<h1 style="text-align: center;">Desher Synergystics Conglomerate</h1>
<hr>
<h2>{{ character.char_name }}</h2>
<br>
<h3>{{ background.background_name }}</h3>
<div class="box">
    <p>{{ background.descrip }}</p>
    <p>{{ background.rp_boon }}</p>
</div>
<br>
<h5>Description</h5>
<div class="box">
    <p>{{ character.descrip }}</p>
</div>
<br>
<h5>Biography</h5>
<div class="box">
    <p>{{ character.bio }}</p>
</div>
<br>
<a href="/character/{{ character.char_id }}/edit" class="btn btn-primary btn-sm">Edit</a>
<br>
<hr>
<h4>Inventory</h4>
<div class="container-fluid d-flex justify-content-around">
    <h5>Weapons:</h5>
    <div class="container-fluid d-flex">
        <div>
            {% for weapon in weapons %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ weapon.wep_type}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ weapon.wep_name }}</h5>
                    <p class="card-text">Damage: {{ weapon.wep_dmg }}</p>
                    <p class="card-text">Range: {{ weapon.wep_range }}</p>
                    <p class="card-text">Price: {{ weapon.wep_price }}</p>
                    <a href="/delete_wep/{{ character.char_id }}/{{ weapon.wep_id }}" class="btn btn-primary btn-sm">Remove</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <h5>Armors:</h5>
    <div class="container-fluid d-flex">
        <div>
            {% for armor in armors %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ armor.armor_type }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ armor.armor_name }}</h5>
                    <p class="card-text">Armor: {{ armor.armor_stat }}</p>
                    <p class="card-text">Price: {{ armor.armor_price }}</p>
                    <a href="/delete_arm/{{ character.char_id }}/{{ armor.armor_id }}" class="btn btn-primary btn-sm">Remove</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}