{% extends "base.html" %}
{% block main %}
<h1 style="text-align: center;">Desher Synergystics Conglomerate</h1>

<h2>Create a character</h2>
<form action="/create-character" method="POST">
    <h4>
        Name: <input type="text" name="name">
    </h4>

    <h4>
        Description: <textarea name="description" maxlength="2000"></textarea>
    </h4>

    <h4>
        Biography: <textarea name="bio" maxlength="2000"></textarea>
    </h4>

    <h4>Background:</h4>
    <select class="form-select" aria-label="Select Background" name="background">
        {% for back in backgrounds: %}
        <option value="{{ back.background_id }}">{{ back.background_name }}</option>
        {% endfor %}
    </select>

    <p><input type="submit"></p>
</form>

{% endblock %}