{% extends "base.html" %}
{% block main %}
<h1>Welcome to the sci-fi character tracker thing!</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Damage</th>
          <th scope="col">Range</th>
          <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for weapon in weapons %}
        <tr>
            <td>{{ weapon.wep_name }}</td>
            <td>{{ weapon.wep_dmg }}</td>
            <td>{{ weapon.wep_range }}</td>
            <td>{{ weapon.wep_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}